/* =================================== */
/*  Elements Page Styles
/* =================================== */

$default: hsl(240, 100%, 99%);
$color-white:#FFF;
$color-primary:#444;
$success: #4cd3e3;
$info   : #38a4ff;
$warning: #f4e700;

$link: #f9f9ff;
$disable: (#222222, .3);
$span:#b1afaf;
$Tags:#f26522;
$border-color:#ccc;
$shimmer:#dfdfed; 
$header_height:88px; 


/*Theme_palettes*/
:root{
--color-brandblue: #032d42;
--color-green: #319d1f;
--color-neutral: #f7f7f7;
--color-neutral-border:#c3c3c366;
--color-white:#FFF;
--header-height:57px;
}

